.default-hover {
    color: black;
    cursor: pointer;
    font-family: 'Ibarra Real Nova', serif;
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-variant: small-caps;
    font-size: xx-large;
    letter-spacing: 0.4vmin;
    transition: opacity 400ms ease, color 0.2s;
}

.default-hover:hover {
    text-decoration: underline;
    color: #1bd6e4;
}

.breadcrumb {
    font-size: 28px;
}

.active-list-wrapper {
    overflow: hidden;
    width: 400px;
}

.active-list {
    overflow-y: auto;
    height: 700px;
    margin-right: -17px;
    padding-right: 17px;
}