.default-hover {
    color: black;
    cursor: pointer;
    font-family: 'Ibarra Real Nova', serif;
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-variant: small-caps;
    letter-spacing: 0.4vmin;
    transition: opacity 400ms ease, color 0.5s;
}

.default-hover:hover {
    text-decoration: underline;
    color: #45f3ff;
}

.wrapper-div {
    overflow: hidden;
    max-height: 500px;
    /* Set this to your desired height */
    width: 260px;
}

.active-list {
    overflow-y: auto;
    max-height: 500px;
    height: 400px;
    /* Set this to your desired height */
    margin-right: -17px;
    /* Hide scrollbar by setting negative margin */
    padding-right: 17px;
    /* Add padding to compensate for negative margin */
}